@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap');
@import "tailwindcss";

body {
	font-family: "Playfair Display", serif;
}

@keyframes fade-in {
	from {
		opacity: 0;
		transform: scale(0.95);
	}

	to {
		opacity: 1;
		transform: scale(1);
	}
}

.animate-fade-in {
	animation: fade-in 0.3s ease-out;
}